:root {
  --primary-nav: #3700B3;
  --primary: #7140F4;
  --lunar: #C8BBC8;
  --charcoal: #353839;
  --cloudy: #818181;
  --sky-blue: #53A1DB;
  --sky-tint: #0E76C4;
  --secondary: #03DAC6;
  --secondary-var: #018786;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: 'Anek Latin', sans-serif;
  color: #353839;
  background-color: #F7F7F8;
}

h2, h3, h4, h5 { margin: 0; }

.title { margin-bottom: 20px; }
